<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Required permission for foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slideshow">
        <receiver android:name=".StartWallpaperSlideshowService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="darre.zflip.slideshow.RegisterWallpaperService" />
            </intent-filter>
        </receiver>
        <receiver android:name=".StartSlideshowReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TriggerNotification"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.POST_NOTIFICATIONS" >
            <intent-filter>
                <action android:name="darre.zflip.slideshow.NotifySlideshowService" />
            </intent-filter>
        </receiver>
        <service
            android:name=".WallpaperSlideshowService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" >
        </service>
        <service
            android:name=".ChangeWallpaperService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>